<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <head>
        <meta charset="UTF-8">
        <title>Julio 2</title>
        <link rel="stylesheet" href="../../fontawesome-free-5.13.0-web/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">

    </head>


<body>

    <header>
        <div class="container">
            <nav>
                <div class="nav-brand">
                    <a href="#">
                        <img src="https://logo.clearbit.com/spotify.com" alt="Twitter Logo">
                    </a>
                </div>

                <div class="menu-icons open">
                    <i class="fas fa-bars"></i>
                </div>

                <ul class="nav-list">
                    <div class="menu-icons close">
                        <i class="fas fa-times"></i>
                    </div>
                    <li class="nav-items">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-items">
                        <a class="nav-link" href="#">Destinations</a>
                    </li>
                    <li class="nav-items">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-items">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>

            </nav>
        </div>

    </header>


    <section class="hero">
        <div class="container">
            <div class="main-message">
                <h3>The great Outdoors</h3>
                <h1>Adventure</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, minus facilis? Natus neque veniam
                    pariatur sed labore eveniet rem optio aut commodi inventore, vero laborum asperiores nihil ad sunt?
                    Culpa delectus omnis minus rem odio error debitis tempora magni, cumque laborum distinctio expedita
                    quae architecto neque dolor eveniet modi nisi voluptates quas quod fuga soluta aut dicta? Veniam
                    iure cumque sunt numquam rerum, laboriosam eligendi expedita molestiae. Vero veritatis debitis nobis
                    fuga, excepturi at. Laborum officiis aperiam, accusantium fugiat quibusdam eos dolorem nemo
                    inventore nulla, similique, reprehenderit doloremque ea ipsam corporis aliquid necessitatibus dicta.
                    At dolorem delectus id sapiente enim?
                </p>
                <div class="cta">
                    <a href="#" class="btn">Book Now</a>
                </div>
            </div>
        </div>
    </section>
    <script src="app.js"></script>
</body>

</html>