<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>

    <div class="header">
        <div class="logo">
            <p>
                Ace Admin
            </p>
        </div>

        <div class="top-menu-items">

            <ul>
                <li>
                    <a href="">Tasks</a>
                </li>
                <li>
                    <a href="">Notifications</a>

                </li>
                <li>
                    <a href="#"> Messages</a>
                </li>
                <li>

                    <a href="#">
                        User Icon
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="footer">
        <p>
            Copyright &copy; 2020
        </p>
    </div>

    <div class="wrapper">

        <div class="sidebar">

        </div>

        <div class="container">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore vel sit ipsam aperiam? Numquam
                voluptates commodi laborum adipisci amet? Doloribus ipsum similique nobis nihil cumque fuga
                repudiandae,
                tempora accusamus dolorem adipisci eligendi vero autem dolores esse suscipit sit architecto, totam
                neque
                possimus dicta, corporis distinctio libero odio illum. Minima deserunt perspiciatis fugit cupiditate
                accusantium voluptatum sint nihil architecto? Odio eveniet incidunt nemo, quidem corrupti, enim
                cumque
                voluptates animi, tempore iure sed obcaecati! Laudantium corporis et aliquid, nobis amet, expedita
                voluptatum sunt deserunt molestiae blanditiis corrupti neque odit eos perferendis fugit, quam fuga
                ratione! Cupiditate ab, animi totam doloremque sunt nemo.
            </p>

        </div>

        <div class="clearfix">

        </div>

    </div>




</body>

</html>