<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Julio 1</title>

    <link rel="stylesheet" href="../../fontawesome-free-5.13.0-web/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <header>

        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>

        <div class="overlay"></div>

        <nav>
            <i class="fas fa-times"></i>

            <div class="logo">
                <!-- <img src="images/logo.png" alt="Apple" srcset=""> -->
            </div>

            <div class="nav-middle">

            </div>


        </nav>

    </header>


</body>

</html>