<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../fontawesome-free-5.13.0-web/css/all.min.css">

    <link rel="stylesheet" href="main.css">
</head>

<body>


    <div id="header" class="header">
        <div class="logo">
            <p>
                <i class="fa fa-leaf">
                </i>
                Ace Admin
            </p>
        </div>


        <div class="menu-items">

            <ul>
                <li>
                    <i class="fa fa-bell"></i>
                    <span style="font-size: small; border: 1px white solid ;
                    border-radius: 2em; background-color: gray; height: 2em; margin-left: -8px; margin-bottom: 12px;">
                        5
                    </span>
                </li>

            </ul>

        </div>

    </div>

    <div id="sidebar" class="sidebar">
    </div>

</body>

</html>