body {
	background-color: black;
	font-family: cursive, cursive, monospace;
	font-size: medium;
	line-height: 1.6em;
	color: white;
	margin-top: 50px;
}
p {
	margin: 24px;
	padding: 9px;
}

.main-container {
	width: 80%;
	margin: auto;
	background-color: beige;
	color: black;
	border: 10px solid;
	border-color: brown;
	padding: 10px;
	float: right;
	box-sizing: border-box;
}

.content {
	height: 95%;
	margin: auto;
	width: 100%;
	position: relative;
}

h1 {
	color: blue;
}

.left-nav-container {
	width: 20%;
	background-color: blanchedalmond;
	border-right: 1px solid #ffffff;
	padding: 10px;
	box-sizing: border-box;
	float: left;
	color: black;
	margin-top: auto;
	/* position: fixed;
	overflow: scroll; */
}

.top-nav-container {
	top: 1px;
	left: 0;
	clear: both;
	z-index: 999;
	width: 100%;
	position: fixed;
	margin: auto;
	top: 0;
	background-color: black;
	height: 50px;
}

.footer {
	width: 100%;
	background-color: gray;
	bottom: 0;
	position: fixed;
	text-align: center;
}
